<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t_edits_app_tobias">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TEditsAppTobias">
        <activity
            android:name=".teditsPost"
            android:exported="true" />
        <activity
            android:name=".ExplorePage"
            android:exported="true" />
        <activity
            android:name=".ControlPanel"
            android:exported="true" />
        <activity
            android:name=".teditsQuestions"
            android:exported="true" />
        <activity
            android:name=".teditsCatalogue"
            android:exported="true" />
        <activity
            android:name=".teditsUserCatalogue"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".teditsElementCatalogue"
            android:exported="true" />
        <activity
            android:name=".teditsElementsContent"
            android:exported="true" />
        <activity
            android:name=".teditsContent"
            android:exported="true" />
        <activity
            android:name=".teditsUser"
            android:exported="true" />
        <activity
            android:name=".RegisterUser"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>